// 默认字体
$fontFamily: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", serif;

// 各组件参数
$bgc: #eff1f4; // 背景色
$commonGold: #AF9673; // 通用金
$commonRed: #E1322D; // 通用红
$commonBlue: #3395fa; // 通用蓝
$commonGreen: #094; // 通用绿
$commonBlack: #000000; // 通用黑
$commonGray: #666666; // 通用灰

